body{
	background-color: white;
	letter-spacing: normal;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
	line-height: 2;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 50px;
	padding: 10px;
}

.thumbnail{
    width: 100%;
    height: 300px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: black!important;
}

#cart-icon{
	width:50px;
	display: inline-block;
	margin-left: 10px;
}

#login-icon{
	width:60px;
	display: inline-block;
	margin-left: 10px;
}

#cart-total{
	display: block;
	text-align: left;
	color:#fff;
	background-color: black;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	font-size: 20px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
	padding: 0px;
}

.btn{
	border-radius: 0;
}

.btn-warning {
    color: black;
    border-color: dimgrey;
	alignment: center;
	width: 100px;
}

.btn-success {
    color: #fff;
    background-color: forestgreen;
    border-color: #28a745;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.box {
   display: inline-flex;
   align-items: center;
   margin-top: 50px;
   padding-right: 50px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.video-blocker, .video-link {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}

.hidden{
	display: none!important;
}