{% extends 'store/main.html' %}
{% load static %}
{% block content %}

  <video width="1120" height="400" autoplay muted>
  <source src="{% static 'video/baby2.mp4' %}" type="video/mp4">
</video>

    <br>
    <br>
	<table class="table">
<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'shop' %}">&#x2190; GO BACK TO SHOPPING</a>
				<a  style="float:right; margin:10px;" class="btn btn-success" href="{% url 'payment' %}">CHECK OUT</a>

				<br>
				<br>

			</div>

			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>ITEM</strong></div>
					<div style="flex:1"><strong>PRICE</strong></div>
					<div style="flex:1"><strong>QUANTITY</strong></div>
					<div style="flex:1"><strong>SUBTOTAL</strong></div>
				</div>


                {% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
					<div style="flex:2"><p>{{ item.product.name }}</p></div>
					<div style="flex:1"><p>${{ item.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{ item.quantity }}</p>
						<div class="quantity">
							<img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

							<img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>${{ item.get_total }} USD</p></div>
				</div>
            {% endfor %}
			</div>
			</table>
		</div>
	</div>
{% endblock content %}