{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<video width="1120" height="600" autoplay muted>
  <source src="{% static 'video/baby1.mp4' %}" type="video/mp4">
Your browser does not support the video tag.
</video>

<div class="row">
    {% for product in products%}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{product.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">ADD TO BAG</button>
<!--            <a class="btn btn-outline-success" href="#">QUICK VIEW</a>-->
            <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}} USD</strong></h4>

        </div>
    </div>

    {% endfor %}
</div>
<br>


    <div class="row">
  <div class="column">
    <video src="{% static 'video/bae1.MP4' %}" autoplay muted style="width:100%">
  </div>
  <div class="column">
    <video src="{% static 'video/bae2.MP4' %}"autoplay muted style="width:100%">
  </div>
  <div class="column">
    <video src="{% static 'video/bae3.MP4' %}"autoplay muted style="width:100%">
  </div>
</div>
{% endblock content %}

