{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<iframe width="1110" height="600" loading="lazy" tabindex="-1" preload="auto" src="{% static 'video/baby.mp4' %}"
        title="YouTube video player" frameborder="2"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;"
        allowfullscreen>

</iframe>

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/pic.png'%}">
        <div class="box-element product">
            <h6><strong>Item</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">ADD TO BAG</button>
            <a class="btn btn-outline-success" href="#">QUICK VIEW</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/pic.png'%}">
        <div class="box-element product">
            <h6><strong>Item</strong></h6>
            <hr>
             <button class="btn btn-outline-secondary add-btn">ADD TO BAG</button>
            <a class="btn btn-outline-success" href="#">QUICK VIEW</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/pic.png'%}">
        <div class="box-element product">
            <h6><strong>Item</strong></h6>
            <hr>
             <button class="btn btn-outline-secondary add-btn">ADD TO BAG</button>
            <a class="btn btn-outline-success" href="#">QUICK VIEW</a>
				<h4 style="display: inline-block; float: right"><strong>$20</strong></h4>

        </div>

    </div>
</div>

{% endblock content %}

